{% extends 'base.html' %}

{% block content %}
<h1>Fatmug Video Processing</h1>
<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa voluptatem est, ipsa laudantium sit numquam assumenda impedit officiis expedita vel. Temporibus numquam ipsum placeat incidunt. Error soluta est, voluptate recusandae eligendi excepturi veniam deleniti corrupti dolore, consequuntur praesentium quasi neque vitae quia rerum dicta eaque. Qui incidunt voluptatem adipisci cupiditate?
</p>
<a href="{% url 'upload_video' %}" class="btn d-flex align-item-center justify-content-center btn-primary">Click to Upload Video</a>
{% endblock %}

