{% extends 'base.html' %}

{% block content %}
<div class="container mt-4"></div>
    <h2>Upload a Video</h2>
    <form class="form-group" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-3">
            {{ form.title.label_tag }}
            {{ form.title }}
        </div>

        <div class="mb-3">
            {{ form.video_file.label_tag }}
            {{ form.video_file }}
        </div>

        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</div>
{% endblock %}