{% extends 'base.html' %}

{% block content %}

<h2>{{ video.title | capfirst }}</h2>
<video id="videoPlayer" width="600" controls>
    <source src="{{ video.video_file.url }}" type="video/mp4">
    <track src="{{ subtitleUrl }}" kind="subtitles" srclang="en" label="English" default>
    Your browser does not support the video tag.
</video>

<h3>Subtitles</h3>
<ul>
    {% for subtitle in subtitles %}
    <li>
        <!-- timestamp and content -->
        <a href="#" onclick="seekTo('{{ subtitle.timestamp.total_seconds }}')">
            {{ subtitle.timestamp }}
        </a>
        : {{ subtitle.content }} : {{ subtitle.timestamp.total_seconds }}
    </li>
    {% endfor %}
</ul>

<script>
    function seekTo(seconds) {
        var video = document.getElementById('videoPlayer');
        video.currentTime = seconds;
        console.log("time", video.currentTime);
        video.play();
    }

    document.addEventListener("DOMContentLoaded", function() {
        const video = document.getElementById("videoPlayer");
        const timestamp = parseFloat("{{ timestamp }}");

        console.log("Timestamp:", timestamp);


        video.addEventListener('loadedmetadata', () => {
            if (timestamp > 0) {
                console.log("Setting currentTime to:", timestamp);
                video.currentTime = timestamp;
                video.play();
            }
        });
    });

</script>

{% endblock %}