{% extends 'base.html' %}

{% block content %}

<h2>{{ video.title | capfirst }}</h2>
<video id="videoPlayer" width="600" controls>
    <source src="{{ video.video_file.url }}" type="video/mp4">
    <track src="{{ subtitleUrl }}" kind="subtitles" srclang="en" label="English" default>
    Your browser does not support the video tag.
</video>

<h3>Subtitles</h3>
<ul>
    {% for subtitle in subtitles %}
    <li><a href="#" onclick="seekTo('{{ subtitle.timestamp.total_seconds }}')">
        {{ subtitle.timestamp }}
    </a> - {{ subtitle.content }}</li>
    {% endfor %}
</ul>

<script>
    function seekTo(seconds) {
        var video = document.getElementById('videoPlayer');
        video.currentTime = seconds;
        video.play();
    }
</script>

{% endblock %}